@import 'tailwindcss';

@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: #bd2727;
    --color-black: #292929;
}

* {
    @apply scroll-smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
b,
em,
i {
    @apply transition-colors;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-semibold capitalize;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

a {
    @apply inline-block size-fit;
}

hr {
    @apply border-black/10;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.flex-center {
    @apply flex items-center justify-center;
}

.skeleton {
    @apply bg-gray-200 animate-pulse;
}

@layer utilities {
    .menu-item {
        @apply text-primary;
    }

    .clipped-wave-20 {
        clip-path: polygon(
            100% 100%,
            0% 100%,
            0% 6.67%,
            2% 5.83%,
            4% 5.01%,
            6% 4.21%,
            8% 3.45%,
            10% 2.75%,
            12% 2.1%,
            14% 1.53%,
            16% 1.04%,
            18% 0.63%,
            20% 0.33%,
            22% 0.12%,
            24% 0.01%,
            26% 0.01%,
            28% 0.12%,
            30% 0.33%,
            32% 0.63%,
            34% 1.04%,
            36% 1.53%,
            38% 2.1%,
            40% 2.75%,
            42% 3.45%,
            44% 4.21%,
            46% 5.01%,
            48% 5.83%,
            50% 6.67%,
            52% 7.5%,
            54% 8.32%,
            56% 9.12%,
            58% 9.88%,
            60% 10.59%,
            62% 11.23%,
            64% 11.8%,
            66% 12.3%,
            68% 12.7%,
            70% 13.01%,
            72% 13.22%,
            74% 13.32%,
            76% 13.32%,
            78% 13.22%,
            80% 13.01%,
            82% 12.7%,
            84% 12.3%,
            86% 11.8%,
            88% 11.23%,
            90% 10.59%,
            92% 9.88%,
            94% 9.12%,
            96% 8.32%,
            98% 7.5%,
            100% 6.67%
        );
    }

    .clipped-wave-40 {
        clip-path: polygon(
            100% 100%,
            0% 100%,
            0% 13.33%,
            2% 11.66%,
            4% 10.02%,
            6% 8.43%,
            8% 6.91%,
            10% 5.5%,
            12% 4.21%,
            14% 3.06%,
            16% 2.08%,
            18% 1.27%,
            20% 0.65%,
            22% 0.24%,
            24% 0.03%,
            26% 0.03%,
            28% 0.24%,
            30% 0.65%,
            32% 1.27%,
            34% 2.08%,
            36% 3.06%,
            38% 4.21%,
            40% 5.5%,
            42% 6.91%,
            44% 8.43%,
            46% 10.02%,
            48% 11.66%,
            50% 13.33%,
            52% 15%,
            54% 16.65%,
            56% 18.24%,
            58% 19.76%,
            60% 21.17%,
            62% 22.46%,
            64% 23.61%,
            66% 24.59%,
            68% 25.4%,
            70% 26.01%,
            72% 26.43%,
            74% 26.64%,
            76% 26.64%,
            78% 26.43%,
            80% 26.01%,
            82% 25.4%,
            84% 24.59%,
            86% 23.61%,
            88% 22.46%,
            90% 21.17%,
            92% 19.76%,
            94% 18.24%,
            96% 16.65%,
            98% 15%,
            100% 13.33%
        );
    }

    .clipped-wave-50 {
        clip-path: polygon(
            100% 100%,
            0% 100%,
            0% 16.67%,
            2% 14.58%,
            4% 12.52%,
            6% 10.53%,
            8% 8.64%,
            10% 6.87%,
            12% 5.26%,
            14% 3.82%,
            16% 2.59%,
            18% 1.59%,
            20% 0.82%,
            22% 0.3%,
            24% 0.03%,
            26% 0.03%,
            28% 0.3%,
            30% 0.82%,
            32% 1.59%,
            34% 2.59%,
            36% 3.82%,
            38% 5.26%,
            40% 6.87%,
            42% 8.64%,
            44% 10.53%,
            46% 12.52%,
            48% 14.58%,
            50% 16.67%,
            52% 18.76%,
            54% 20.81%,
            56% 22.8%,
            58% 24.7%,
            60% 26.46%,
            62% 28.08%,
            64% 29.51%,
            66% 30.74%,
            68% 31.75%,
            70% 32.52%,
            72% 33.04%,
            74% 33.3%,
            76% 33.3%,
            78% 33.04%,
            80% 32.52%,
            82% 31.75%,
            84% 30.74%,
            86% 29.51%,
            88% 28.08%,
            90% 26.46%,
            92% 24.7%,
            94% 22.8%,
            96% 20.81%,
            98% 18.76%,
            100% 16.67%
        );
    }
}
